
body {
    padding: 0;
    margin: 0;

    height: 100%;
    font-family: 'Raleway', sans-serif;

}
@keyframes animate {
    0% {
        -webkit-filter: saturate(0);
        filter: saturate(0);
    }
    50% {
        -webkit-filter: saturate(8);
        filter: saturate(8);
    }
    100%{
        -webkit-filter: saturate(0);
        filter: saturate(0);
    }
}

.step{
    animation-name: animate;
    animation-duration: 5s;
    animation-delay: 3s;
}
pre{
    font-size: 2em;
}

#step11 p{
    font-size:1.5em;
}

#step3 p{
    font-size:1.5em;
}
html{
    background: #F7A5BA;
}
.side{
    position: fixed;
    top: -50px;
    padding: 0;
    margin: 0;
    right:-95px;
    width:300px;
    height: auto;
    pointer-events: none;
}

td{
    padding:10px;
}
.wrapper{
    padding-top:250px;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    padding-left: 50px;
    padding-right:50px;

}

table{
    margin-right:auto;
    margin-left:auto;
}
#welcome{
    background: linear-gradient(to bottom,#3BC5BA, #74D6CF);
    background-repeat: no-repeat;
    display:inline-block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;

}

#step1{
    background: linear-gradient(to bottom,#81E0D8,#97E5E0);
    background-repeat: no-repeat;
    display:inline-block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#step2{
    background: linear-gradient(to bottom,#B1F4EE,#C1F6F2);
    background-repeat: no-repeat;
    display:block;
    overflow:hidden;
    background-size:100% 100vh;
    height:100vh;
    width:100%;

    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
#step3{
    background: linear-gradient(to bottom,#CBFFFB,#DCFFFC);
    background-repeat: no-repeat;
    overflow:hidden;
    display:block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;

    text-align: center;
}

#step4{
    background: linear-gradient(to bottom, #ccfffd,#EDFFFD);
    background-repeat: no-repeat;
    display:inline-block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;

    text-align: center;
}

#step5{
    background: linear-gradient(to bottom,#F0FFFE,#FFFFFF);
    background-repeat: no-repeat;
    display:block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;

    text-align: center;
}

#step6{
    background: linear-gradient(to bottom,#FFFFFF,#FFEEF2);
    background-repeat: no-repeat;
    display:block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
}

#step7{
    background: linear-gradient(to bottom,#FFE6EC, #FFF5F7);
    background-repeat: no-repeat;
    display:inline-block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
}

#step8{
    background: linear-gradient(to bottom,#FBDFE6, #FFEEF2);
    background-repeat: no-repeat;
    display:block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
}


#step9{
    background: linear-gradient(to bottom,#FFDBE4, #FFD3DE);
    background-repeat: no-repeat;
    display:inline-block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
    align-content: center;

}

#step10{
    background: linear-gradient(to bottom,#FFC2D1, #FFD3DE);
    background-repeat: no-repeat;
    display:inline-block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
}

#step11{
    background: linear-gradient(to bottom,#FFB3C6, #FFC1D1);
    background-repeat: no-repeat;
    display:block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
}
#step12{
    background: linear-gradient(to bottom,#F698AF, #F7A5BA);
    background-repeat: no-repeat;
    display: block;
    background-size:100% 100vh;
    overflow:auto;
    min-height:100vh;
    width:100%;
    text-align: center;
}
#step13{
    background: linear-gradient(to bottom,#FA809E, #FA90AB);
    background-repeat: no-repeat;
    display:inline-block;
    background-size:100% 100vh;
    height:100vh;
    width:100%;
    text-align: center;
}


h1{
    /*font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Dosis', sans-serif;
    font-family: 'Jura', sans-serif;
 */
    font-family: 'Concert One', cursive;

}

.corner{
    position: absolute;
    bottom: -30px;
    left: -60px;
    margin:0;
    padding: 0;
    position: fixed;
    width:250px;
    height: auto;
    pointer-events: none;
}

.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
